:root {
    --amarillo: #ffed7c;
    --rojo: #d3320d;
    --azul: #04265d;
    --blanco: #ffffff;
}

#navbar{
    background-color: var(--azul);
}

#navbar-brand{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    color: var(--blanco);
}

#autores{
    font-size: 15px;
    color: var(--blanco);
}

#titular{
    font-size: 5rem;
}

@media(max-width: 720px){
    #titular{
        font-size: calc(1vw + 1.0rem);
    }
}

#cuerpo{
    background-color: var(--blanco);
}

#buscador{
    background-color: var(--azul);
}

